@model IEnumerable<WebApplication1.Models.Post>
@section Styles {
    <link rel="stylesheet" href="~/css/card-pop.css" />
}

<div class="createpos">
    <a asp-controller="Post" asp-action="CreatePost" class="button-createpost">POST</a>
</div>
<div class="content">
    @foreach (var post in Model) {
        <div class="card">
            <a href="#popup-@post.ID" class="card-link">
                <img src="@post.Post_img" alt="Board game image">
                <h3 class="Location">@post.Post_name</h3>
                <h3 class="user">@(ViewBag.Usernames.ContainsKey(post.Post_by_id) ? ViewBag.Usernames[post.Post_by_id] : "Unknown User")</h3>
                <p>Date : @post.Date</p>
                <p>Amount : @post.Participants / @post.Capacity</p>
            </a>
            <a class="button" href="#popup-@post.ID">Let me Pop up</a>
        </div>
        
        <div id="popup-@post.ID" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="pop-content">
                    <div class="pop-image">
                        <img src="@post.Post_img" alt="Post Image">
                    </div>
                    <div class="pop-details">
                        <h2>Post Name: @post.Post_name</h2>
                        <h3>Post user : @(ViewBag.Usernames.ContainsKey(post.Post_by_id) ? ViewBag.Usernames[post.Post_by_id] : "Unknown User")</h3>
                        <p>Location : @post.Location</p>
                        <p>Date : @post.Date</p> 
                        <p>Amount : @post.Participants / @post.Capacity</p>
                        <p>@post.Post_Detail</p>
                    </div>
                    <a href="#" class="view-button">request</a>
                </div>
                
                <div class="showcomment">
                    <div class="comment-post">
                        <p class="comment-user">Nattawat :</p>
                        <p class="comment-description">This is a description of the card. You can add more content here. This is a description of the card. You can add more content here. This is a description of the card. You can add more content here. This is a description of the card. You can add more content here.</p>
                    </div>
                </div>

                <div class="pop-comment">
                    <input type="text" placeholder="Leave a comment...">
                    <button type="button">Submit</button>
                </div>
                
            </div>
        </div>
    }
</div>